
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
